In [27]:
import pandas as pd
import numpy as np

In [4]:
missing_car_sales = pd.read_csv('car-sales-extended-missing-data.csv')

In [5]:
missing_car_sales.isna().sum()

In [6]:
missing_car_sales.dropna(subset="Price",inplace=True)

In [10]:
X = missing_car_sales.drop('Price',axis=1)
y = missing_car_sales['Price']

In [15]:
X

,Make,Colour,Odometer (KM),Doors
0,Honda,White,35431.0,4.0
1,BMW,Blue,192714.0,5.0
2,Honda,White,84714.0,4.0
3,Toyota,White,154365.0,4.0
4,Nissan,Blue,181577.0,3.0
...,...,...,...,...
995,Toyota,Black,35820.0,4.0
996,NaN,White,155144.0,3.0
997,Nissan,Blue,66604.0,4.0
998,Honda,White,215883.0,4.0
999,Toyota,Blue,248360.0,4.0

In [19]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer


category_imputer = SimpleImputer(strategy='constant', fill_value="missing")
door_imputer = SimpleImputer(strategy ='constant', fill_value=4)
numerical_imputer = SimpleImputer(strategy="mean")

category_features = ['Make','Colour']
door_features = ['Doors']
numerical_features = ['Odometer (KM)']

imputer = ColumnTransformer([
    ('category_imputer', category_imputer, category_features),
    ('door_imputer', door_imputer, door_features),
    ('numerical_imputer', numerical_imputer, numerical_features)
])

filled_X = imputer.fit_transform(X)
filled_X

In [25]:
car_sales = pd.DataFrame(filled_X, columns=['Make','Colour','Doors','Odometer (KM)'])
car_sales

,Make,Colour,Doors,Odometer (KM)
0,Honda,White,4.0,35431.0
1,BMW,Blue,5.0,192714.0
2,Honda,White,4.0,84714.0
3,Toyota,White,4.0,154365.0
4,Nissan,Blue,3.0,181577.0
...,...,...,...,...
945,Toyota,Black,4.0,35820.0
946,missing,White,3.0,155144.0
947,Nissan,Blue,4.0,66604.0
948,Honda,White,4.0,215883.0
949,Toyota,Blue,4.0,248360.0

In [26]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

Categorical_features = ['Make','Colour','Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot', one_hot, Categorical_features)],remainder="passthrough" )
transfromed_X = transformer.fit_transform(car_sales)
transfromed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [28]:
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(transfromed_X, y, train_size=0.2)

In [29]:
model = RandomForestRegressor()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.18865658852277112